
@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../imagens/lion_king_background_1_by_somedisneylineart_dduh8mq-fullview\ 1.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    font-family: passero one;
    text-align: center;
    color: white;
    padding-top: 50px;
}

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-disney {
    height: 40px;
}

nav ul {
    font-family: sans-serif;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.search {
    padding: 10px;
    border-radius: 20px;
    border: none;
}

main {
    
    margin-top: 50px;
}

main > h1{
    font-family: passero one;
    font-size: 50px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.subtitle {
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.quiz-box {
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.459);
    padding: 30px;
    margin: 30px auto;
    width: 80%;
    border-radius: 10px;
    position: relative;
}

footer {
    margin-top: 50px;
    color: white;
}

footer ul {
    font-family: sans-serif;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.quiz-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.quiz-box {
    background-color: #ffceb6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}


p {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

.result-box {
    background-color: #ffe6cc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.result-box h2 {
    font-size: 28px;
    color: #333333;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.exit-btn {
    background-color: #e74c3c;
    color: white;
}

.exit-btn:hover {
    background-color: #c0392b;
}

.play-again-btn {
    background-color: #27ae60;
    color: white;
}

.play-again-btn:hover {
    background-color: #229954;
}